
@use "variables" as *;

.backgroundContactSection{
    background-color: $secondaryColor;

    .contact{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      column-gap: 1rem;

      @media (max-width:992px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
      }
      
      .contact__Heading{
        font-size: 2.8rem;
        color: $whiteColor;
        font-weight: 500;
        letter-spacing: 2px;
        border-bottom: 1px solid $primaryColor;
        grid-column: 1/3;
        margin-top: 5rem;

        @media (max-width:992px) {
          grid-row: 1/2;
          font-size: 2.5rem;
        }

        @media (max-width:576px) {
          font-size: 2.3rem;
          margin-top: 4rem;
        }
        }

      .contact__content{
        padding: 5rem 0;

        @media (max-width:992px) {
         grid-row: 2/3;
        }

        @media (max-width:576px) {
          padding: 4rem 0 3rem 0;
        }

        .contact__media{
          display: flex;
          justify-content: start;
          align-items: flex-start;
          gap: 7rem;

          @media(max-width:1200px){
            gap: 3rem;
         }

          .contact__contentEmail{
          
            .contact__contentEmailHeading{
              font-size: 1.3rem;
              color: $whiteColor;
              font-weight: 400;
              letter-spacing: 2px;
              margin-bottom: 1rem;
            }
            .contact__mediaIcon{
              width: 3rem;

              @media(max-width:1200px){
                width: 2.5rem;
             }
           }
            
          }

          .contact__contentSocialMedia{
            display: flex;
            flex-direction: column;
           
            .contact__mediaIcon{
              width: 3rem;
              margin-right: 1rem;
              border-radius: 1rem;

              @media(max-width:1200px){
                width: 2.5rem;
             }
           }

           .contact__contentSocialMediaHeading{
              font-size: 1.3rem;
              color: $whiteColor;
              font-weight: 400;
              letter-spacing: 2px;
              margin-bottom: 1rem;
           }
          }
        }

        .contact__contentSubheading{
          font-size: 2.3rem;
          font-weight: 500;
          color: $primaryColor;
          letter-spacing: 2px;
          margin-bottom: 2rem;

          @media (max-width:576px) {
            font-size: 2rem;
           }
        }
    }

    .contact__form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 2rem 0;
      gap: 0.8rem;

      @media (max-width:992px) {
        grid-row: 3/4;
       }

      .contact__formHeading{
        color: $primaryColor;
        font-size: 1.7rem;
        letter-spacing: 2px;
        font-weight: 400;
      }

     input{
      padding: 1rem 0.5rem;
      border-radius: 1rem;
      border: none;
      outline: none;
      transition: font-size 0.2s ease;

      @media(max-width:992px) {
        width: 80%;
       }

       @media(max-width:768px) {
        padding: 0.7rem 0.5rem;
       }
     }

     input:not(:placeholder-shown) {
      font-size: 1.2rem;
      letter-spacing: 1.5px;
    }

    label{
      color: $whiteColor;
      font-size: 1.3rem;
      font-weight: 200;
      letter-spacing: 2px;
    }

     textarea{
       border-radius: 1rem;
       padding: 1rem 0.5rem;
       outline: none;
       margin-bottom: 2rem;

       @media (max-width:992px) {
        width: 80%;
       }
     }

     textarea:not(:placeholder-shown) {
      font-size: 1.2rem;
    }

    .contact__btn{
      margin-top: 0;
      width: 50%;
      box-shadow: none;

      @media (max-width:992px) {
        padding: 0.8rem 4rem;
        width: 40%;
       }
    
      &::before{
        background: linear-gradient(to right, $primaryColor 0%, $blackColor 40%, $blackColor 60%, $primaryColor 100%);
      }
    }
    }
  }
}