

@use "variables" as *;

.modal{
  width: 30rem;
  background-color: $whiteColor;
  padding: 2rem 0;
  border-radius: 1rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.4s ease;
  pointer-events: none;
  z-index: 2;

  @media(max-width:768px){
    width: 25rem;
    padding: 1.5rem 0;
 }

 @media(max-width:576px){
  width: 22rem;
 }

 @media(max-width:375px){
  width: 18rem;
 }

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

  .modal__form{
    display: flex;
    padding: 2rem 2rem;
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;

    @media(max-width:576px){
      padding: 1.5rem 1.5rem;
   }

    @media(max-width:375px){
      padding: 0.8rem 0.8rem;
   }

    input{
      padding: 0.7rem 0.2rem;
      font-size: 1.1rem;
      letter-spacing: 1.5px;

      @media(max-width:576px){
        padding: 0.5rem 0.2rem;
        font-size: 0.9;
     }

      @media(max-width:375px){
        padding: 0.3rem 0.2rem;
     }
    }

    textarea{
      
      @media(max-width:576px){
        height: 5rem;
     }

     @media(max-width:375px){
        height: 3.5rem;
     }
    }

    textarea:placeholder-shown{
      font-size: 1.1rem;
      padding: 0.7rem 0.3rem;
      letter-spacing: 1.5px;

      @media(max-width:576px){
        padding: 0.5rem 0.2rem;
        font-size: 0.9;
     }
    }

    textarea:not(placeholder-shown){
      font-size: 1.1rem;
      padding: 0.7rem 0.3rem;
      letter-spacing: 1.5px;

      @media(max-width:576px){
        padding: 0.5rem 0.2rem;
        font-size: 0.9;
     }
    }

    .modal__formBtn{
      margin-top: 1rem;
      font-size: 1.1rem;
      padding: 0.8rem 5rem;

      @media(max-width:375px){
        padding: 0.5rem 3.5rem;
        font-size: 0.9rem;
     }
    }

    label{
      color: $blackColor;
      font-size: 1.3rem;
      font-weight: 200;
      letter-spacing: 2px;

      @media(max-width:576px){
        font-size: 1rem;
     }
    }
  }

  .modal__icons{
    display: flex;
    justify-content: center;
    gap: 2rem;
    
    a{

     .modal__whatsappIcon{
        width: 3rem;
        border-radius: 0.7rem;


        @media(max-width:576px){
          width: 2rem;
       }

         @media(max-width:375px){
          width: 1.5rem;
       }
      }

      .modal__phoneIcon{
        width: 3rem;
        border-radius: 0.7rem;

        @media(max-width:576px){
          width: 2rem;
       }

        @media(max-width:375px){
          width: 1.5rem;
       }
      }
    }
  }

  .modal__closeBtn{
    float: right;
    margin-right: 2rem;
    padding: 0.3rem 0.7rem;
    cursor: pointer;

    @media(max-width:576px){
      padding: 0.3rem 0.5rem;
   }

    @media(max-width:375px){
      padding: 0.2rem 0.3rem;
   }
  }
}