* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 15px;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background-color: rgb(168, 160, 160);
}

body {
  background-color: #FFF9F9;
  line-height: 1.5;
  font-size: 100%;
}

.container {
  width: 90%;
  margin: auto;
}

img {
  width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

.heading_underscore {
  color: #d1be47;
}

.headings {
  font-size: 1.8rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.btn {
  margin-top: 3rem;
  font-size: 1.3rem;
  padding: 1rem 5rem;
  border: none;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 1s ease;
  position: relative;
  color: white;
  z-index: 1;
  border-radius: 3rem;
  overflow: hidden;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.15);
  background: linear-gradient(90deg, rgba(209, 190, 71, 0.67) 0%, rgb(84, 80, 80) 100%);
}
.btn:hover {
  transform: scale(1.1);
}

.nav__clock {
  width: 5rem;
  height: 5rem;
  border: 0.2rem solid white;
  border-radius: 50%;
  margin-right: 3rem;
  position: relative;
}
@media (max-width: 1400px) {
  .nav__clock {
    display: none;
  }
}
.nav__clock .nav__clockPoint {
  width: 0.4rem;
  height: 0.4rem;
  background-color: #d1be47;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav__clock .hour {
  font-size: 0.9rem;
  color: white;
  font-weight: bold;
  position: absolute;
}
.nav__clock .hour-3 {
  top: 1.6rem;
  right: 0.2rem;
}
.nav__clock .hour-6 {
  bottom: -0.1rem;
  left: 2.1rem;
}
.nav__clock .hour-9 {
  left: 0.2rem;
  top: 1.6rem;
}
.nav__clock .hour-12 {
  left: 1.9rem;
  top: -0.1rem;
}
.nav__clock .nav__clockMinuteWrapper {
  width: 2.9rem;
  height: 2.9rem;
  position: absolute;
  top: 13.5px;
  left: 13.5px;
  border-radius: 50%;
}
.nav__clock .nav__clockMinuteWrapper .nav__clockMinuteHand {
  position: relative;
}
.nav__clock .nav__clockMinuteWrapper .nav__clockMinuteHand .nav__minuteHand {
  width: 0.1rem;
  height: 1.6rem;
  background-color: #d1be47;
  position: absolute;
  left: 1.4rem;
}
.nav__clock .nav__clockHourWrapper {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 17.5px;
  left: 17.5px;
  border-radius: 50%;
}
.nav__clock .nav__clockHourWrapper .nav__clockHourHand {
  position: relative;
}
.nav__clock .nav__clockHourWrapper .nav__clockHourHand .nav__hourHand {
  width: 2px;
  height: 1.2rem;
  background-color: #d1be47;
  position: absolute;
  left: 1.2rem;
}
.nav__clock .nav__clockSecondWrapper {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  top: 11.5px;
  left: 11.5px;
  border-radius: 50%;
}
.nav__clock .nav__clockSecondWrapper .nav__clockSecondHand {
  position: relative;
}
.nav__clock .nav__clockSecondWrapper .nav__clockSecondHand .nav__secondHand {
  width: 1px;
  height: 1.6rem;
  background-color: #d1be47;
  position: absolute;
  left: 1.5rem;
}

header {
  position: relative;
  padding-top: 60px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ts_bckgImg.png") no-repeat center center/cover;
  width: 100%;
  height: 100vh;
}
@media (max-width: 768px) {
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/ts_bckgImg.png") no-repeat right center/cover;
    height: 90vh;
  }
}
@media (max-width: 576px) {
  header {
    height: 80vh;
  }
}
@media (max-width: 375px) {
  header {
    height: 70vh;
  }
}
header .header__content {
  position: absolute;
  top: 15rem;
  left: 10rem;
}
@media (max-width: 576px) {
  header .header__content {
    left: 5rem;
    top: 10rem;
  }
}
@media (max-width: 375px) {
  header .header__content {
    left: 1rem;
  }
}
header .header__content .header__contentInfo {
  width: 7rem;
}
@media (max-width: 768px) {
  header .header__content .header__contentInfo {
    width: 5rem;
  }
}
@media (max-width: 375px) {
  header .header__content .header__contentInfo {
    width: 3rem;
  }
}
header .header__content .header__contentInfo .toni_img {
  width: 100%;
  height: auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
}
@media (max-width: 768px) {
  header .header__content .header__contentInfo .toni_img {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.9);
  }
}
header .header__content .header__contentText {
  margin-top: 2.5rem;
}
header .header__content .header__contentText .header__contentTextAbout {
  width: 25rem;
  font-size: 1.3rem;
  letter-spacing: 2px;
  height: 9rem;
  color: white;
}
@media (max-width: 576px) {
  header .header__content .header__contentText .header__contentTextAbout {
    font-size: 1.2rem;
    width: 20rem;
  }
}
@media (max-width: 375px) {
  header .header__content .header__contentText .header__contentTextAbout {
    font-size: 1rem;
    width: 16rem;
  }
}
@media (max-width: 768px) {
  header .header__content .header__contentText .header__contentBtn {
    padding: 0.7rem 4rem;
    font-size: 1.2rem;
    margin-top: 2rem;
  }
}
@media (max-width: 576px) {
  header .header__content .header__contentText .header__contentBtn {
    margin-top: 2rem;
    font-size: 1rem;
    padding: 1rem 4rem;
  }
}
@media (max-width: 376px) {
  header .header__content .header__contentText .header__contentBtn {
    font-size: 0.8rem;
    padding: 0.8rem 3rem;
    margin-top: 0.5rem;
  }
}
header .nav {
  display: flex;
}
header .nav .nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: 0.8s ease;
  background: rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
  perspective: 1000px;
}
@media (max-width: 1400px) {
  header .nav .nav__content {
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  header .nav .nav__content {
    padding: 0.5rem 0px;
  }
}
@media (max-width: 576px) {
  header .nav .nav__content {
    justify-content: space-between;
    perspective: 1000px;
  }
}
header .nav .nav__content.nav-underline {
  border-bottom: 2px solid white;
}
header .nav .nav__content .nav__logo {
  margin-left: 3rem;
}
@media (max-width: 1400px) {
  header .nav .nav__content .nav__logo {
    margin-left: 0rem;
  }
}
@media (max-width: 992px) {
  header .nav .nav__content .nav__logo a .nav__logoImg {
    width: 4.5rem;
  }
}
@media (max-width: 768px) {
  header .nav .nav__content .nav__logo a .nav__logoImg {
    width: 3.5rem;
  }
}
@media (max-width: 576px) {
  header .nav .nav__content .nav__logo a .nav__logoImg {
    margin-left: 2rem;
  }
}
header .nav .nav__content .nav__list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.3rem;
  width: auto;
  margin-left: 8rem;
}
@media (max-width: 1200px) {
  header .nav .nav__content .nav__list {
    gap: 5rem;
    margin-left: 0;
  }
}
@media (max-width: 992px) {
  header .nav .nav__content .nav__list {
    gap: 2rem;
  }
}
@media (max-width: 768px) {
  header .nav .nav__content .nav__list {
    gap: 1rem;
  }
}
@media (max-width: 576px) {
  header .nav .nav__content .nav__list {
    position: fixed;
    top: 4.5rem;
    left: 0;
    height: 80vh;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    transform: rotateY(180deg);
    transform-origin: left;
    backface-visibility: hidden;
    transition: transform 0.7s ease;
    background: rgba(0, 0, 0, 0.9);
    padding-top: 2rem;
  }
  header .nav .nav__content .nav__list.activeHamburger {
    transform: rotateY(0deg);
  }
}
header .nav .nav__content .nav__list .nav__listItems {
  border: 1px solid black;
  padding: 5px 25px;
  transition: 1s ease;
  width: 9rem;
  text-align: center;
}
@media (max-width: 992px) {
  header .nav .nav__content .nav__list .nav__listItems {
    padding: 5px 20px;
    width: 7rem;
  }
}
@media (max-width: 768px) {
  header .nav .nav__content .nav__list .nav__listItems {
    padding: 3px 10px;
  }
}
header .nav .nav__content .nav__list .nav__listItems .nav__listLinks {
  color: white;
  font-size: 1.2rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  transition: 0.4s ease;
}
@media (max-width: 992px) {
  header .nav .nav__content .nav__list .nav__listItems .nav__listLinks {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  header .nav .nav__content .nav__list .nav__listItems .nav__listLinks {
    font-size: 0.8rem;
  }
}
@media (max-width: 576px) {
  header .nav .nav__content .nav__list .nav__listItems .nav__listLinks {
    font-size: 1rem;
  }
}
header .nav .nav__content .nav__list .nav__listItems .nav__listLinks:hover {
  color: #d1be47;
}
header .nav .nav__content .nav__weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1400px) {
  header .nav .nav__content .nav__weather {
    display: none;
  }
}
header .nav .nav__content .nav__weather .nav__weatherInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
header .nav .nav__content .nav__weather .nav__weatherInfo .nav__weatherCity {
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 2px;
}
header .nav .nav__content .nav__weather .nav__weatherInfo .nav__temp {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
}
header .nav .nav__content .nav__weather .nav__weatherInfo .nav__celsius {
  padding-top: 5px;
}
header .nav .nav__content .nav__hamburger {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  display: none;
  cursor: pointer;
}
@media (max-width: 576px) {
  header .nav .nav__content .nav__hamburger {
    display: block;
  }
}
header .nav .nav__content .nav__hamburger .nav__hamburger__top,
header .nav .nav__content .nav__hamburger .nav__hamburger__center,
header .nav .nav__content .nav__hamburger .nav__hamburger__bottom {
  background-color: white;
  height: 2px;
  width: 100%;
  margin-top: 7px;
}
header .nav .nav__content .nav__hamburger .nav__hamburger__top {
  margin-top: 0px;
}
@media (max-width: 576px) {
  header .nav .nav__content .nav__hamburger {
    margin-right: 2rem;
  }
}

.about {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  height: 100vh;
}
@media (max-width: 992px) {
  .about {
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    padding-top: 1rem;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .about {
    justify-content: center;
    gap: 5rem;
  }
}
@media (max-width: 576px) {
  .about {
    margin-top: 1.5rem;
  }
}
@media (max-width: 375px) {
  .about {
    margin-top: 0rem;
    gap: 2em;
  }
}
.about .about__content {
  width: 45%;
}
@media (max-width: 1200px) {
  .about .about__content {
    width: 50%;
  }
}
@media (max-width: 992px) {
  .about .about__content {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .about .about__content {
    width: 100%;
  }
}
.about .about__content .about__heading {
  margin: 0 0 2rem 2rem;
}
@media (max-width: 1200px) {
  .about .about__content .about__heading {
    margin: 0 0 1rem 1rem;
  }
}
.about .about__content .about__headingText {
  font-family: "Poppins", sans-serif;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-style: italic;
}
@media (max-width: 992px) {
  .about .about__content .about__headingText {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 576px) {
  .about .about__content .about__headingText {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 375px) {
  .about .about__content .about__headingText {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
}
.about .about__content .about__text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  font-style: italic;
}
@media (max-width: 1200px) {
  .about .about__content .about__text {
    font-size: 1.2rem;
  }
}
@media (max-width: 576px) {
  .about .about__content .about__text {
    font-size: 1.1rem;
  }
}
@media (max-width: 375px) {
  .about .about__content .about__text {
    font-size: 0.8rem;
  }
}
.about .about__projects {
  width: 40%;
}
@media (max-width: 992px) {
  .about .about__projects {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .about .about__projects {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .about .about__projects {
    padding-bottom: 2rem;
  }
}
@media (max-width: 375px) {
  .about .about__projects {
    padding-bottom: 2rem;
  }
}
.about .about__projects .about__projectsHeading {
  margin: 0 0 4rem 2rem;
}
@media (max-width: 992px) {
  .about .about__projects .about__projectsHeading {
    margin: 0 0 3rem 2rem;
  }
}
.about .about__projects .about__projectsMedia {
  display: flex;
  flex-direction: column;
}
@media (max-width: 992px) {
  .about .about__projects .about__projectsMedia {
    flex-direction: row;
    gap: 1rem;
  }
}
.about .about__projects .about__projectsMedia .about__projectsImg1 {
  width: 100%;
  border-top: 2px solid #d1be47;
  border-right: 2px solid #d1be47;
  padding-top: 0.3rem;
}
@media (max-width: 992px) {
  .about .about__projects .about__projectsMedia .about__projectsImg1 {
    border-left: 2px solid #d1be47;
    border-bottom: 2px solid #d1be47;
    border-top: none;
    border-right: none;
    padding-left: 0.3rem;
  }
}
.about .about__projects .about__projectsMedia .about__projectsImg2 {
  width: 100%;
  border-left: 2px solid #d1be47;
  border-bottom: 2px solid #d1be47;
  padding-left: 0.3rem;
}
@media (max-width: 992px) {
  .about .about__projects .about__projectsMedia .about__projectsImg2 {
    border-left: none;
    border-bottom: none;
    border-top: 2px solid #d1be47;
    border-right: 2px solid #d1be47;
    padding-top: 0.3rem;
  }
}
.about .about__projects .about__projectsMedia .line {
  width: 70%;
  height: 3px;
  background-color: #d1be47;
  margin: 2rem 0;
}
@media (max-width: 992px) {
  .about .about__projects .about__projectsMedia .line {
    display: none;
  }
}

.skills {
  background-color: #111723;
  padding: 8rem 0rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
@media (max-width: 1100px) {
  .skills {
    padding: 6rem 0rem;
  }
}
@media (max-width: 768px) {
  .skills {
    gap: 2rem;
    margin-top: 0rem;
  }
}
@media (max-width: 576px) {
  .skills {
    gap: 1.5rem;
  }
}
.skills .skills__headingH2 {
  margin-left: 6rem;
  color: white;
  letter-spacing: 3px;
}
.skills .skills__lang {
  height: 2rem;
  display: flex;
}
.skills .skills__lang .skills__heading {
  width: 12rem;
  text-align: left;
  color: white;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1.3rem;
}
@media (max-width: 768px) {
  .skills .skills__lang .skills__heading {
    font-size: 1.1rem;
  }
}
@media (max-width: 576px) {
  .skills .skills__lang .skills__heading {
    text-align: center;
    width: 10rem;
    font-size: 1rem;
  }
}
.skills .skills__lang .skills__parentPrcent {
  width: 800px;
  border: 2px solid white;
}
@media (max-width: 992px) {
  .skills .skills__lang .skills__parentPrcent {
    width: 500px;
  }
}
@media (max-width: 768px) {
  .skills .skills__lang .skills__parentPrcent {
    width: 400px;
  }
}
@media (max-width: 576px) {
  .skills .skills__lang .skills__parentPrcent {
    width: 200px;
  }
}
.skills .skills__lang .skills__parentPrcent .skills__prcent {
  height: 100%;
  background-color: #d1be47;
}
.skills .skills__lang .skills__parentPrcent .skills__prcent p {
  text-align: right;
  color: #111723;
  font-size: 1.3rem;
  letter-spacing: 2px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .skills .skills__lang .skills__parentPrcent .skills__prcent p {
    font-size: 1.1rem;
  }
}
@media (max-width: 576px) {
  .skills .skills__lang .skills__parentPrcent .skills__prcent p {
    font-size: 0.9rem;
  }
}
.skills .skills__lang .skills__parentPrcent .skill__langProgres {
  color: white;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .skills .skills__lang .skills__parentPrcent .skill__langProgres {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .skills .skills__lang .skills__parentPrcent .skill__langProgres {
    font-size: 0.9rem;
  }
}

.backgroundContactSection {
  background-color: #111723;
}
.backgroundContactSection .contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 1rem;
}
@media (max-width: 992px) {
  .backgroundContactSection .contact {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}
.backgroundContactSection .contact .contact__Heading {
  font-size: 2.8rem;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
  border-bottom: 1px solid #d1be47;
  grid-column: 1/3;
  margin-top: 5rem;
}
@media (max-width: 992px) {
  .backgroundContactSection .contact .contact__Heading {
    grid-row: 1/2;
    font-size: 2.5rem;
  }
}
@media (max-width: 576px) {
  .backgroundContactSection .contact .contact__Heading {
    font-size: 2.3rem;
    margin-top: 4rem;
  }
}
@media (max-width: 375px) {
  .backgroundContactSection .contact .contact__Heading {
    font-size: 1.7rem;
  }
}
.backgroundContactSection .contact .contact__content {
  padding: 5rem 0;
}
@media (max-width: 992px) {
  .backgroundContactSection .contact .contact__content {
    grid-row: 2/3;
  }
}
@media (max-width: 576px) {
  .backgroundContactSection .contact .contact__content {
    padding: 4rem 0 3rem 0;
  }
}
.backgroundContactSection .contact .contact__content .contact__media {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 7rem;
}
@media (max-width: 1200px) {
  .backgroundContactSection .contact .contact__content .contact__media {
    gap: 3rem;
  }
}
.backgroundContactSection .contact .contact__content .contact__media .contact__contentEmail .contact__contentEmailHeading {
  font-size: 1.3rem;
  color: white;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
@media (max-width: 375px) {
  .backgroundContactSection .contact .contact__content .contact__media .contact__contentEmail .contact__contentEmailHeading {
    font-size: 1.1rem;
  }
}
.backgroundContactSection .contact .contact__content .contact__media .contact__contentEmail .contact__mediaIcon {
  width: 3rem;
}
@media (max-width: 1200px) {
  .backgroundContactSection .contact .contact__content .contact__media .contact__contentEmail .contact__mediaIcon {
    width: 2.5rem;
  }
}
@media (max-width: 576px) {
  .backgroundContactSection .contact .contact__content .contact__media .contact__contentEmail .contact__mediaIcon {
    width: 1.9rem;
  }
}
@media (max-width: 375px) {
  .backgroundContactSection .contact .contact__content .contact__media .contact__contentEmail .contact__mediaIcon {
    width: 1.7rem;
  }
}
.backgroundContactSection .contact .contact__content .contact__media .contact__contentSocialMedia {
  display: flex;
  flex-direction: column;
}
.backgroundContactSection .contact .contact__content .contact__media .contact__contentSocialMedia .contact__mediaIcon {
  width: 3rem;
  margin-right: 1rem;
  border-radius: 1rem;
}
@media (max-width: 1200px) {
  .backgroundContactSection .contact .contact__content .contact__media .contact__contentSocialMedia .contact__mediaIcon {
    width: 2.5rem;
  }
}
@media (max-width: 576px) {
  .backgroundContactSection .contact .contact__content .contact__media .contact__contentSocialMedia .contact__mediaIcon {
    width: 1.9rem;
  }
}
@media (max-width: 375px) {
  .backgroundContactSection .contact .contact__content .contact__media .contact__contentSocialMedia .contact__mediaIcon {
    width: 1.7rem;
    margin-right: 0.5rem;
  }
}
.backgroundContactSection .contact .contact__content .contact__media .contact__contentSocialMedia .contact__contentSocialMediaHeading {
  font-size: 1.3rem;
  color: white;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
@media (max-width: 375px) {
  .backgroundContactSection .contact .contact__content .contact__media .contact__contentSocialMedia .contact__contentSocialMediaHeading {
    font-size: 1.1rem;
  }
}
.backgroundContactSection .contact .contact__content .contact__contentSubheading {
  font-size: 2.3rem;
  font-weight: 500;
  color: #d1be47;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}
@media (max-width: 576px) {
  .backgroundContactSection .contact .contact__content .contact__contentSubheading {
    font-size: 2rem;
  }
}
@media (max-width: 375px) {
  .backgroundContactSection .contact .contact__content .contact__contentSubheading {
    font-size: 1.5rem;
  }
}
.backgroundContactSection .contact .contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
  gap: 0.8rem;
}
@media (max-width: 992px) {
  .backgroundContactSection .contact .contact__form {
    grid-row: 3/4;
  }
}
.backgroundContactSection .contact .contact__form .contact__formHeading {
  color: #d1be47;
  font-size: 1.7rem;
  letter-spacing: 2px;
  font-weight: 400;
}
@media (max-width: 375px) {
  .backgroundContactSection .contact .contact__form .contact__formHeading {
    font-size: 1.5rem;
  }
}
.backgroundContactSection .contact .contact__form input {
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  transition: font-size 0.2s ease;
}
@media (max-width: 992px) {
  .backgroundContactSection .contact .contact__form input {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .backgroundContactSection .contact .contact__form input {
    padding: 0.7rem 0.5rem;
  }
}
@media (max-width: 375px) {
  .backgroundContactSection .contact .contact__form input {
    padding: 0.5rem 0.4rem;
  }
}
.backgroundContactSection .contact .contact__form input:not(:placeholder-shown) {
  font-size: 1.2rem;
  letter-spacing: 1.5px;
}
.backgroundContactSection .contact .contact__form label {
  color: white;
  font-size: 1.3rem;
  font-weight: 200;
  letter-spacing: 2px;
}
@media (max-width: 375px) {
  .backgroundContactSection .contact .contact__form label {
    font-size: 1.2rem;
  }
}
.backgroundContactSection .contact .contact__form textarea {
  border-radius: 1rem;
  padding: 1rem 0.5rem;
  outline: none;
  margin-bottom: 2rem;
}
@media (max-width: 992px) {
  .backgroundContactSection .contact .contact__form textarea {
    width: 80%;
  }
}
.backgroundContactSection .contact .contact__form textarea:not(:placeholder-shown) {
  font-size: 1.2rem;
}
.backgroundContactSection .contact .contact__form .contact__btn {
  margin-top: 0;
  width: 50%;
  box-shadow: none;
}
@media (max-width: 992px) {
  .backgroundContactSection .contact .contact__form .contact__btn {
    padding: 0.8rem 4rem;
    width: 40%;
  }
}
@media (max-width: 576px) {
  .backgroundContactSection .contact .contact__form .contact__btn {
    padding: 0.6em 2rem;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .backgroundContactSection .contact .contact__form .contact__btn {
    padding: 0.4em 2rem;
    text-align: center;
    font-size: 1.1rem;
  }
}
.backgroundContactSection .contact .contact__form .contact__btn::before {
  background: linear-gradient(to right, #d1be47 0%, black 40%, black 60%, #d1be47 100%);
}

.footer {
  background: linear-gradient(to right, #111723, black, #111723);
  color: white;
  text-align: center;
  padding: 3rem 1rem;
  font-size: 0.9rem;
  letter-spacing: 2px;
}

.modal {
  width: 30rem;
  background-color: white;
  padding: 2rem 0;
  border-radius: 1rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.4s ease;
  pointer-events: none;
  z-index: 2;
}
@media (max-width: 768px) {
  .modal {
    width: 25rem;
    padding: 1.5rem 0;
  }
}
@media (max-width: 576px) {
  .modal {
    width: 22rem;
  }
}
.modal.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal .modal__form {
  display: flex;
  padding: 2rem 2rem;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
}
@media (max-width: 576px) {
  .modal .modal__form {
    padding: 1.5rem 1.5rem;
  }
}
.modal .modal__form input {
  padding: 0.7rem 0.2rem;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
}
@media (max-width: 576px) {
  .modal .modal__form input {
    padding: 0.5rem 0.2rem;
    font-size: 0.9;
  }
}
@media (max-width: 576px) {
  .modal .modal__form textarea {
    height: 5rem;
  }
}
.modal .modal__form textarea:placeholder-shown {
  font-size: 1.1rem;
  padding: 0.7rem 0.3rem;
  letter-spacing: 1.5px;
}
@media (max-width: 576px) {
  .modal .modal__form textarea:placeholder-shown {
    padding: 0.5rem 0.2rem;
    font-size: 0.9;
  }
}
.modal .modal__form textarea:not(placeholder-shown) {
  font-size: 1.1rem;
  padding: 0.7rem 0.3rem;
  letter-spacing: 1.5px;
}
@media (max-width: 576px) {
  .modal .modal__form textarea:not(placeholder-shown) {
    padding: 0.5rem 0.2rem;
    font-size: 0.9;
  }
}
.modal .modal__form .modal__formBtn {
  margin-top: 1rem;
  font-size: 1.1rem;
  padding: 0.8rem 5rem;
}
.modal .modal__form label {
  color: black;
  font-size: 1.3rem;
  font-weight: 200;
  letter-spacing: 2px;
}
@media (max-width: 576px) {
  .modal .modal__form label {
    font-size: 1rem;
  }
}
.modal .modal__icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.modal .modal__icons a .modal__whatsappIcon {
  width: 3rem;
  border-radius: 0.7rem;
}
@media (max-width: 576px) {
  .modal .modal__icons a .modal__whatsappIcon {
    width: 2rem;
  }
}
.modal .modal__icons a .modal__phoneIcon {
  width: 3rem;
  border-radius: 0.7rem;
}
@media (max-width: 576px) {
  .modal .modal__icons a .modal__phoneIcon {
    width: 2rem;
  }
}
.modal .modal__closeBtn {
  float: right;
  margin-right: 2rem;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
}
@media (max-width: 576px) {
  .modal .modal__closeBtn {
    padding: 0.3rem 0.5rem;
  }
}

.nav__mobileMenu.hidden {
  display: none;
}
.nav__mobileMenu .nav__mobileMenu__list .nav__mobileMenu__item {
  padding-bottom: 10px;
}
.nav__mobileMenu .nav__mobileMenu__list .nav__mobileMenu__item.nav__item__dropdown i {
  color: white;
  margin-left: 5px;
  cursor: pointer;
}
.nav__mobileMenu .nav__mobileMenu__list .nav__mobileMenu__item.nav__item__dropdown:hover i {
  color: #111723;
}
.nav__mobileMenu .nav__mobileMenu__list .nav__mobileMenu__item.nav__item__dropdown .nav__mobileMenu__dropdown {
  display: none;
}
.nav__mobileMenu .nav__mobileMenu__list .nav__mobileMenu__item .nav__mobileMenu__links {
  color: white;
  font-weight: 500;
}
.nav__mobileMenu .nav__mobileMenu__list .nav__mobileMenu__item .nav__mobileMenu__links:hover {
  color: #111723;
}

/*# sourceMappingURL=style.css.map */
